.portfolioOuter {
    position: relative;
    overflow-y: scroll;
    height: 100vh;
    background-image: url(./bg3.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* padding: 10% 8% 5% 8%; */
    /* padding-top: 10%;
    padding-bottom: 5%; */
    scrollbar-width: 0;
    scrollbar-color: transparent transparent;
}

.portfolioOuter::-webkit-scrollbar {
    width: 0;
    height: 0;
    /* Ancho del scrollbar */
}
/* 
.portfolioOuter::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.portfolioOuter::-webkit-scrollbar-track {
    background-color: transparent;
}
.portfolioOuter::-webkit-scrollbar-thumb{
    opacity: 0;
} */
.portfolioVignette {
    width: 100%;
    height: 15%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.portfolioVignette::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}
.stars{
    animation: stars linear 3s infinite;
    opacity: 0;
    margin-top: -8%;
    width: 100vw;
    height: 100vh;
    background-image: url(./stars.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}
.portfolioWrapper {
    border-radius: 10px;
    position: relative;
    max-width: 1300px;
    margin: 0px auto;
    margin-bottom: 5%;
    margin-top: -90vh;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    color: #252525;
    border: 10px solid transparent;
    padding: 50px;
    -webkit-border-image: url(./border.png) 25 stretch;
    -o-border-image: url(./border.png) 33 stretch;
    border-image: url(./border.png) 33 stretch;
    border-image-slice: 33%;
    background-color: #ffffe0dc;
    z-index: 2;
}

.projectsMain {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.projectsMain h2 {
    /* margin-left: 20%; */
    width: 70%;
}

.projectsMain .textGlow::before {
    animation: glowAppear linear 0s forwards !important;
    opacity: 1;
}

.projectsMain p {
    margin-top: 30px;
    width: 80%;
}

.projectItem {
    border-radius: 5%;
    min-width: 500px;
    margin: 0 auto;
    border: 1px solid rgb(41, 35, 24);
    background-color: rgba(255, 253, 241, 0.8);
    width: 25%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.projectItem>div {
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 25px;
}

.projectItem>div>div {
    margin-top: 20px;
    padding: 0 20px;
}

.projectItem strong {
    font-size: 1.2rem;
}

.quotes {
    top: -2.5%;
    width: 12%;
    position: absolute;
    left: 8%;
}

.topModal {
    position: absolute;
    right: 0;
    width: 100%;
}

.bottomModal {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.projectPic {
    border-radius: 30px;
    width: 100%;
    padding: 8px;
}

@keyframes stars {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}