.caveWrapper{
    margin-top: 5vh;
    height: 100vh;
    max-height: 100vh;
}
.caveContainer{
    position: relative;
    height: 100%;
}
.caveContainer img{
    position: absolute;
}
.caveBg{
    height: 100%;
    right: 0;
}
.topCave{
    top: -5vh;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}
.caveCharacter{
    bottom: 0;
    right: 0;
}
.bottomCave{
    bottom: 0;
    width: 100%;
}
.portfolioOuter{
    /* bottom: 0; */
    overflow: hidden;
    max-height: 100vh;
}
.portfolioWrapper{
    position: absolute;
    top: 0;
    width: 600vw;
    display: flex;
}
.portfolioPanel{
    width: 100%;
    height: 100vh;
}
.portfolioPanel img{
    width: 50%;
}