/* .textGlow {
    color: black; 
    position: relative;
    
}

.textGlow::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    right: 10px;
    z-index: -1;
    width: calc(100% + 20px);
    height: 100%;
    background-color: rgba(255, 255, 255, 0.595); 
    filter: blur(10px);
} */
.textGlow {
    color: black;
    /* Color del texto */
    position: relative;
    display: inline-block;
    /* Para que el fondo se ajuste al contenido del texto */
}

.textGlow::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    z-index: -1;
    background-color: rgba(239, 242, 184, 0.595);
    /* Color del resplandor */
    filter: blur(50px);
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}

.heroBackground {
    /* background-color: var(--darkFont); */
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    height: 90vh;
    background-color: transparent;
    z-index: -10;
}

.heroBackground>img {
    position: absolute;
}

.land {
    bottom: 0;
    z-index: 1;
}

.treeLeft {
    left: 10%;
    bottom: 12%;
    width: 30vh;
    z-index: 0;
}

.treeRight {
    right: 10%;
    bottom: 12%;
    width: 30vh;
    z-index: 0;
}

.mountain {
    bottom: 317px;
    z-index: -1;
}

.seaContainer {
    position: absolute;
    bottom: 120px;
    height: 209px;
    z-index: -2;
    background-color: white;
}

.sea {
    z-index: -2;
    background-color: rgba(26, 72, 112, 0.4);
    animation: waterMoves 5s linear infinite;
}

.sun {
    z-index: -3;
    bottom: 330px;
    min-width: 400px;
    width: 35%;
    animation: sunAppears 2s linear;
}

header {
    background-color: var(--darkFont);
    display: flex;
    justify-content: center;
    padding: 0 5%;
    height: 10vh;
}

header>div {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brandLogo {
    height: 8vh;
    padding: 10px 0;
}

header p {
    font-size: 18px;
}

.heroContentWrapper {
    padding: 5em 2em 3.2em;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--darkFont);
}

.heroContentWrapper .topTitleWrapper {
    display: flex;
    font-size: 1vw;
    opacity: 0;
    animation: appear ease-in-out 1s forwards;
    animation-delay: 0.55s;
}

.topTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
    /* font-weight: 400; */
    line-height: 1.2;
    display: inline;
}

.heroText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
    font-size: 7.5em;
    font-weight: 500;
    text-align: center;
    line-height: 1;
}

.heroWord {
    display: flex;
}

.heroBottom {
    display: flex;
    justify-content: center;
    margin: 1em auto
}

.heroMiddle {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}


.heroP {
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 10px;
    opacity: 0;
    animation: appear ease-in-out 1s forwards;
    animation-delay: 0.85s;
    padding: 10px 0;
}

.heroButtons {
    margin-top: 30px;
    display: flex;
    gap: 20px;
    opacity: 0;
    animation: appear ease-in-out 1s forwards;
    animation-delay: 0.99s;
}

.heroButton {
    width: 200px;
    height: 55px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: var(--darkFont);
    font-size: 18px;
}

.heroCharacter {
    opacity: 0;
    transform: translateY(10px);
    animation: appearBottom 0.5s ease-in-out forwards;
    /* background-color: black; */
}

@keyframes sunAppears {
    from {
        bottom: -100px;
    }

    to {
        bottom: 330px;
    }
}

@keyframes waterMoves {
    0% {
        /* transform: translate(0); */
    }

    
    33% {
        rotate: 0.5deg;
        transform: translateY(5px) translateX(-15px);
    }

    
    66% {
        transform: translateY(-5px) translateX(15px);
        rotate: -0.5deg;
    }

    /* 75%{
        transform: translateY(0);
    } */
}

@keyframes appearBottom {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}