
.heroBackground {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
    height: 100vh;
    width: 100vw;
    background-color: transparent;
    overflow: hidden;
    z-index: -10;
    perspective: 2300px;
}
.heroBackground>img {
    position: absolute;
}
.backgroundImg{
    min-width: 110vw;
    z-index: -10;
    height: 140%;
    top: -20%;
}
.leftMiddle{
    height: 110%;
    bottom: 0;
    left: -5%;
}
.rightFront{
    right: -3%;
    bottom: 0;
    height: 30%;

}
.heroVignette{
    width: 100%;
    height: 30%;
    position: absolute;
    bottom: 0;
    z-index: 100;
}
.heroVignette::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
  }


.textGlow {
    color: black;
    position: relative;
    display: inline-block;
}

.textGlow::before {
    content: '';
    position: absolute;
    top: 0;
    opacity: 0;
    /* left: -10px;
    right: -10px; */
    bottom: 0;
    z-index: -1;
    /* background-color: rgba(215, 0, 252, 0.595); */
    animation: glowAppear linear 3s forwards;
    animation-delay: 1s;
    background-color: rgba(239, 242, 184, 0.595);
    filter: blur(50px);
}
header {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    height: 10vh;
}
header>div {
    width: 100%;
    max-width: 1600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brandLogo {
    height: 8vh;
    padding: 10px 0;
}

header p {
    font-size: 18px;
}

.heroContentWrapper {
    opacity: 0;
    padding: 5em 2em 3.2em;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--darkFont);
    z-index: 10;
    position: absolute;
    top: 0;
    height: 100%;
    justify-content: center;
}

.heroContentWrapper .topTitleWrapper {
    display: flex;
    font-size: 1vw;
    opacity: 0;
    animation: appear ease-in-out 2s forwards;
    animation-delay: 0.55s;
}

.topTitle {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    font-style: italic;
    line-height: 1.2;
    display: inline;
}

.heroText {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 70%;
    font-size: 7.5em;
    font-weight: 500;
    text-align: center;
    line-height: 1;
}

.heroWord {
    display: flex;
}

.heroBottom {
    display: flex;
    justify-content: center;
    margin: 1em auto
}

.heroMiddle {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
}

.heroP {
    opacity: 0;
    font-size: 20px;
    line-height: 1.4em;
    margin-bottom: 10px;
    animation: appear ease-in-out 1s forwards;
    animation-delay: 3s;
    padding: 10px 0;
}

.heroButtons {
    z-index: 10;
    margin-top: 30px;
    display: flex;
    gap: 20px;
    opacity: 0;
    animation: appear ease-in-out 1s forwards;
    animation-delay: 3.5s;
}

.heroButton {
    z-index: 10;
    width: 200px;
    height: 55px;
    cursor: pointer;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
    position: relative;
    overflow: hidden;
    background-color: var(--darkFont);
    font-size: 18px;
}

.heroCharacter {
    opacity: 0;
    transform: translateY(10px);
    animation: appearBottom 0.5s ease-in-out forwards;
}



@keyframes appearBottom {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


@keyframes glowAppear {
    from {
        left: 50%;
        right: 50%;
        opacity: 0;
    }

    to {
        left: -10px;
        right: -10px;
        opacity: 1;
    }
}