.portfolioProyectsWrapper {
    height: 230vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.portfolioProyectsContainer {
    overflow: hidden;
    position: absolute;
    left: 0;
    width: 100%;
    height: 230vh;
    background-color: lightgray;
    padding: 20px;
}

.box {
    position: relative;
    left: -10vw;
    top:5vw;
    /* background-color: black; */
    width: 80px;
    height: 80px;
    /* border-radius: 50%;
    border-bottom: 5px solid red; */
}

.rightEl{
    width: 30vh;
    margin-top: 10vh;
}
.rightEl img{
    height: 30vh;
}
.proyectList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}