*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --darkFont: #16642f;
    --darkish: #42bb69;
    --lightFont: antiquewhite;
    font-family: 'Poppins', sans-serif;
}
body{
  background-color: black;
}
#root{
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.darkFont{
    color:var(--darkFont)
}
.lightFont{
    color: var(--lightFont);
}






.breathAnimationY{ 
  position: relative;
  animation: breathY 5s infinite;
}
.breathAnimationX{
  position: relative;
  animation: breathX 5s infinite;
}

.animation1{
  animation-delay: 200ms;
  animation-duration: 4.1s;
}
.animation2{
  animation-delay: 400ms;
  animation-duration: 4.7s;
}
.animation3{
  animation-delay: 600ms;
  animation-duration: 4.3s;
}
.animation4{
  animation-delay: 800ms;
}
@keyframes breathY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px); 
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes breathX {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px); 
  }
  100% {
    transform: translateX(0);
  }
}









