.caveWrapper{
    margin-top: 5vh;
    height: 130vh;
}
.caveContainer{
    position: relative;
    height: 100%;
}
.caveContainer img{
    position: absolute;
}
.caveBg{
    height: 100%;
    right: 0;
}
.topCave{
    top: -5vh;
    left: 0;
    width: 100%;
    clip-path: polygon(0 0, 100% 0, 100% 50%, 0 100%);
}
.caveCharacter{
    bottom: 0;
    right: 0;
}
.bottomCave{
    bottom: 0;
    width: 100%;
}